<h1>Rolodex</h1>
<table width="100%">
  <tr>
    <td width="50%" valign="top">
      <div id="layouts">
        &nbsp;
      </div>
    </td>
    <td valign="top">
      <div id="contacts_list">
        <%=render "contacts"%>
      </div>
      <div id="list">
        <%=render "lists"%>
      </div>
    </td>
  </tr>
</table>